<h1>Dragon's Home</h1>

<form action="/dragons/create" method="POST" enctype="multipart/form-data">
  <label for="nameInput"> Name</label>
  <input id="nameInput" type="text" name="name" placeholder="Draco">

  <label for="locationInput">Location</label>
  <input id="locationInput" type="text" name="location" placeholder="Winterfell">

  <label for="coolFactorInput">Cool Factor</label>
  <input id="coolFactorInput" type="number" name="coolFactor" placeholder="5">

  <label for="imageInput">Choose Your Image File</label>
  <input id="imageInput" type="file" name="image">

  <button>Save New Dragon</button>
</form>